* {
  margin: 0;
  padding: 0;
  font-family: 'Permanent Marker';
}

@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v9/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cfw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

header {
  width: 100%;
  height: 80px;
  background-color: lightblue;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  height: 545px;
  display: flex;
  flex-flow: row nowrap;
  background: #FF0141;
}

aside {
  width: 20%;
  height: inherit;
  border-right: 2px solid black;
  background: grey;
}

#zoneResult{
  width: 80%;
  height: inherit;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-image: url("https://img.freepik.com/free-photo/clapperboard-popcorns-takeaway-glass-with-drinking-straws-popcorns-red-background_23-2148188198.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

#zoneResult *{
  margin-top: 10px;
  text-shadow: 0 0 3px white;
}

.sectionChoix{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionChoix select{
  width: 64%;
  margin-right: 2%;
}

.ctnRes{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
}

.ctnRes>div{
  width: inherit;
  display: flex;
  flex-flow: row;
}

.ctnRes>div div{
  height: 100%;
}

.ctnRes>div div:first-child{
  width: 30%;
  display: flex;
  flex-flow: column;
  text-align: center;
}

.ctnRes>div div:last-child{
  width: 70%;
  display: flex;
  justify-content: center;
}

.ctnResume{
  width: inherit;
  height: auto;
  display: flex;
  justify-content: center;
}

.ctnResume p{
  width: 90%;
}

.ctnBande{
  width: inherit;
  height: 20px;
  background-image: url("https://img2.freepng.fr/20180528/tuz/kisspng-filmstrip-clip-art-film-strip-5b0bcaeb3d2a30.6241250315274994992505.jpg");
  background-size: contain;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
